* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* Chatbot */
.chatbot {
  background-color: #f5f5f5;
  position: relative;
  height: 100vh;
  width: 33.33%;
}
.search {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.search input {
  width: 100%;
  border-top: 1px solid #eee;
  padding: 10px;
  outline: none;
}
/* Map */
.map {
  height: 100vh;
  width: 66.67%;
}
